[submodule "ansible/roles/etckeeper"]
	path = ansible/roles/etckeeper
	url = https://github.com/kofonfor/ansible-role-etckeeper.git
[submodule "ansible/roles/common-utils"]
	path = ansible/roles/common-utils
	url = https://github.com/kofonfor/ansible-role-common-utils.git
[submodule "ansible/roles/ssh-hardening"]
	path = ansible/roles/ssh-hardening
	url = https://github.com/dev-sec/ansible-ssh-hardening.git
[submodule "ansible/roles/os-hardening"]
	path = ansible/roles/os-hardening
	url = https://github.com/kofonfor/ansible-os-hardening.git
[submodule "ansible/roles/docker-io"]
	path = ansible/roles/docker-io
	url = https://github.com/kofonfor/ansible-role-docker-io.git
[submodule "ansible/roles/docker.ubuntu"]
	path = ansible/roles/docker.ubuntu
	url = https://github.com/angstwad/docker.ubuntu.git
[submodule "ansible/roles/openstack-hardening"]
	path = ansible/roles/openstack-hardening
	url = https://github.com/kofonfor/ansible-hardening.git
